In [13]:
from pymongo import MongoClient
import pymongo

client = MongoClient('mongodb://localhost:27017/')

In [14]:
db = client['books']

In [42]:
books = db.books
booklist=books.find()

In [43]:
for book in booklist:
    print(book)

{'_id': ObjectId('60583aa8fb36d55126109f89'), 'author': 'Sidney Sheldon', 'about': 'Tell Me Your Dreams', 'tags': ['MPD', 'Murder', 'Mystery']}
{'_id': ObjectId('60583ffafb36d55126109f8a'), 'book': 'The Ranch', 'author': 'Danielle Steel'}
{'_id': ObjectId('60583ffafb36d55126109f8b'), 'book': 'The Firm', 'author': 'John Grisham'}
{'_id': ObjectId('60583ffafb36d55126109f8c'), 'book': 'The runaway jury', 'author': 'John Grisham'}
{'_id': ObjectId('60583ffafb36d55126109f8d'), 'book': 'Time to kill', 'author': 'John Grisham'}
{'_id': ObjectId('60583ffafb36d55126109f8e'), 'book': 'The testament', 'author': 'John Grisham'}
{'_id': ObjectId('60583ffafb36d55126109f8f'), 'book': 'Tell me your Dreams', 'author': 'Sidney Sheldon'}

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame(list(books.find()))

In [46]:
df.head()

,_id,author,about,tags,book
0,60583aa8fb36d55126109f89,Sidney Sheldon,Tell Me Your Dreams,"[MPD, Murder, Mystery]",NaN
1,60583ffafb36d55126109f8a,Danielle Steel,NaN,NaN,The Ranch
2,60583ffafb36d55126109f8b,John Grisham,NaN,NaN,The Firm
3,60583ffafb36d55126109f8c,John Grisham,NaN,NaN,The runaway jury
4,60583ffafb36d55126109f8d,John Grisham,NaN,NaN,Time to kill

In [47]:
df.isna().sum()

_id       0
author    0
about     6
tags      6
book      1
dtype: int64

In [48]:
df.fillna(0,inplace=True)

In [49]:
df.drop(columns=['_id'],axis=1,inplace=True)

In [50]:
df.head()

,author,about,tags,book
0,Sidney Sheldon,Tell Me Your Dreams,"[MPD, Murder, Mystery]",0
1,Danielle Steel,0,0,The Ranch
2,John Grisham,0,0,The Firm
3,John Grisham,0,0,The runaway jury
4,John Grisham,0,0,Time to kill